.entry-content,
.block-editor-block-list__layout {
  color: var(--color-base-content);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  :where(
    .entry-content > *:not(li),
    .block-editor-block-list__layout , .wp-block-group > *:not(li)
  ) {
    margin-top: --spacing(6);
    margin-bottom: --spacing(6);
  }
  

  :where(.wp-element-button, .wp-block-button__link) {
    @apply bg-brand text-white;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-field);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  :where(.wp-block-heading) {
    margin-top: --spacing(6);
    margin-bottom: --spacing(4);
    font-weight: var(--font-weight-semibold);
  }
  :where(.wp-block-list) {
    margin-top: --spacing(6);
    margin-bottom: --spacing(4);
  }

  :where(h2) {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    margin-top: --spacing(6);
  }

  :where(h3) {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    margin-top: --spacing(4);
   
  }

  :where(h2 + h3) {
    margin-top: 0;
  }

  :where(ul, ol) {
    padding-left: 1.5rem;
  }

  :where(ul){
    list-style-type: disc;
  }
  :where(ul.list-none){
    list-style-type:  none !important;
      padding: 0 !important;
    }

  :where(ol) {
    list-style-type: decimal;
  }


  :where(li) {
    padding-left: --spacing(3);
  }

  :where(li)::marker {
    color: var(--color-base-content);
  }

  :where(li > *),
  :where(li li) {
    margin-top: --spacing(2);
  }

  :where(ol > li)::marker {
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
  }

  :where(strong) {
    font-weight: var(--font-weight-semibold);
  }

  :where(figure) {
    margin-top: --spacing(12);
    margin-bottom: --spacing(12);
  }

  :where(li > :first-child) {
    margin-top: 0 !important;
  }

  :where(li > :last-child) {
    margin-bottom: 0 !important;
  }

  :where(table > :first-child) {
    @apply w-full border-collapse text-center justify-between border border-brand mb-4;
  }

  :where(table thead) {
      background-color: var(--color-brand);
      border-bottom: none !important;
      th {
        color: var(--color-base-content);
      }
  }

  a:where(:not(.heading)) {
    color: var(--color-accent);
    text-decoration: none !important;
  }
  
}